{% extends 'bootstrap.html' %}

{% block content %}
    <h2>Building List</h2>
    {% if obj_list %}
    <div class="row">
        <div class="col"><strong>Name</strong></div>
        <div class="col"><strong>Location</strong></div>
    </div>
        {% for obj in obj_list %}
        <div class="row">
            <div class="col"><a href="/buildings/{{ obj.id }}">{{ obj.name }}</a></div>
            <div class="col">({{ obj.coord_x }}, {{ obj.coord_y }})</div>
        </div>
        {% endfor %}
    {% else %}
    <p class="lead">No data to show!</p>
    {% endif %}
{% endblock %}
