{% extends 'bootstrap.html' %}

{% block content %}
    {% if obj_list %}
    <h1>Building List</h1>
    <div class="row">
        <div class="col"><strong>Name</strong></div>
        <div class="col"><strong>Location</strong></div>
    </div>
        {% for obj in obj_list %}
        <div class="row">
            <div class="col">{{ obj.name }}</div>
            <div class="col">({{ obj.coord_x }}, {{ obj.coord_y }})</div>
        </div>
        {% endfor %}
    {% else %}
    <p>No data to show!</p>
    {% endif %}
{% endblock %}
