{% extends 'bootstrap.html' %}

{% block content %}
    <h2>{{ ta.last_name }}, {{ ta.first_name }} Schedule</h2>
    {% comment %}
    {% if schedule_list %}
    <h3>TA Schedule</h3>
    <div class="row">
        <div class="col"><strong>Start Time</strong></div>
        <div class="col"><strong>End Time</strong></div>
    </div>
        {% for schedule in schedule_list %}
        <div class="row">
            <div class="col">{{ schedule.start_time }}</div>
            <div class="col">{{ schedule.end_time }}</div>
        </div>
        {% endfor %}
    {% else %}
    <p class="lead">No schedule to show!</p>
    {% endif %}
    <hr>
    {% endcomment %}
    {% if course_list %}
    <h3>Head TA Courses</h3>
    <ul>
        {% for course in course_list %}
        <li>{{ course.code }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="lead">TA has no head TA assignments!</p>
    {% endif %}
    <hr>
    {% if ta_exam_list %}
    <h3>Assigned Exams</h3>
    <div class="row">
        <div class="col"><strong>Exam Course</strong></div>
        <div class="col"><strong>Exam Type</strong></div>
    </div>
        {% for obj in ta_exam_list %}
        <div class="row">
            <div class="col"><a href="/courses/{{ obj.exam.course_id }}">{{ obj.exam.course.code }}</a></div>
            <div class="col"><a href="/exams/{{ obj.exam_id }}">{{ obj.exam.get_type_display }}</a></div>
        </div>
        {% endfor %}
    {% else %}
    <p class="lead">TA has no exam assignments!</p>
    {% endif %}
{% endblock %}
