{% extends 'bootstrap.html' %}

{% block content %}
    <h2>TA List</h2>
    {% if obj_list %}
    <div class="row">
        <div class="col"><strong>TA Name</strong></div>
        <div class="col"><strong>E-mail</strong></div>
        <div class="col"><strong>Office Building</strong></div>
    </div>
        {% for obj in obj_list %}
        <div class="row">
            <div class="col"><a href="/tas/{{ obj.id }}">{{ obj.last_name }}, {{ obj.first_name }}</a></div>
            <div class="col">{{ obj.email }}</div>
            <div class="col"><a href="/buildings/{{ obj.building_id }}">{{ obj.building.name }}</a></div>
        </div>
        {% endfor %}
    {% else %}
    <p class="lead">No TAs to show!</p>
    {% endif %}
{% endblock %}
