{% extends 'bootstrap.html' %}

{% block content %}
    <h2>Course List</h2>
    {% if obj_list %}
    <div class="row">
        <div class="col"><strong>Name/Code</strong></div>
        <div class="col"><strong>Capacity</strong></div>
        <div class="col"><strong>Building</strong></div>
    </div>
        {% for obj in obj_list %}
        <div class="row">
            <div class="col"><a href="/courses/{{ obj.id }}">{{ obj.code }}</a></div>
            <div class="col">{{ obj.capacity }}</div>
            <div class="col"><a href="/buildings/{{ obj.building_id }}">{{ obj.building.name }}</a></div>
        </div>
        {% endfor %}
    {% else %}
    <p class="lead">No courses to show!</p>
    {% endif %}
{% endblock %}
