{% extends 'bootstrap.html' %}
{% load tz %}

{% block content %}
    <h2>{{ classroom.name }} Schedule</h2>
    {% if obj_list %}
    <div class="row">
        <div class="col"><strong>Start Time</strong></div>
        <div class="col"><strong>End Time</strong></div>
    </div>
        {% for obj in obj_list %}
        <div class="row">
            <div class="col">{{ obj.start_time|localtime }}</div>
            <div class="col">{{ obj.end_time|localtime }}</div>
        </div>
        {% endfor %}
    {% else %}
    <p class="lead">No schedule to show!</p>
    {% endif %}
{% endblock %}
