{% extends 'bootstrap.html' %}

{% block content %}
    <h2>Classroom List</h2>
    {% if obj_list %}
    <div class="row">
        <div class="col"><strong>Name</strong></div>
        <div class="col"><strong>Capacity</strong></div>
        <div class="col"><strong>Max TA Allocation</strong></div>
        <div class="col"><strong>Building</strong></div>
    </div>
        {% for obj in obj_list %}
        <div class="row">
            <div class="col">{{ obj.name }}</div>
            <div class="col">{{ obj.capacity }}</div>
            <div class="col">{{ obj.max_ta }}</div>
            <div class="col">{{ obj.building.name }}</div>
        </div>
        {% endfor %}
    {% else %}
    <p class="lead">No data to show!</p>
    {% endif %}
{% endblock %}
